In [2]:
import pandas as pd
import numpy as np
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

In [3]:
#Lendo os datasets
train = pd.read_csv('train_blak_friday.csv')
test = pd.read_csv('test_black_friday.csv')

In [4]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
train.groupby('Purchase').size()

Purchase
12       101
13       106
14        95
24       118
25       113
26       112
36       107
37       110
38       114
48       108
49        91
50       100
60       121
61       102
62       105
118       19
119       24
120       30
121       25
122       17
123       13
124       22
125       15
126       20
127       23
128       25
129       34
130       18
131       22
132       14
        ...
23931      2
23932      3
23933      2
23934      2
23935      1
23936      4
23937      1
23938      2
23939      5
23940      3
23941      3
23942      2
23943      2
23944      2
23945      1
23946      3
23947      3
23948      4
23949      4
23950      1
23951      1
23952      1
23953      2
23954      2
23955      3
23956      1
23958      4
23959      2
23960      4
23961      3
Length: 18105, dtype: int64

In [35]:
x = train.loc[:,'Product_ID':'Product_Category_3'].values
y = train.loc[:,'Purchase'].values

In [36]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [37]:
from sklearn.cross_validation import train_test_split
x_train, y_train, x_test, y_test = train_test_split(x, y, test_size=1/4, random_state=1)

In [38]:
svr_regressor = SVR(kernel='linear', C=1.0, epsilon=0.1)

svr_regressor.fit(x_train, y_train)

ValueError: could not convert string to float: 'B'